@charset "UTF-8";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.main{
    background-color: rgb(148, 151, 149);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-container{
    display: flex;
    flex-direction: column;
}

.linea
{
    height:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 50px;
    right: 800px;
}

.custom {
    width: 100px !important;
    
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.img_login_background{
    background-image: url("/images/rapaz_Login.jpg");
    height: 150px;
}

.img_template {
    height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

